product-item {
  background: white;
  border: 2px solid #00ffd5;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.product-item:hover {
  transform: scale(1.05);
  border-color: #0056b3;
}
